# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.log

# Virtual environment
venv/
.env/
.venv/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Arduino
*.ino.cpp
*.elf
*.bin
build/
*.map

# ESP32 build artifacts
*.partitions.bin
*.bootloader.bin

# Temporary
*.tmp
*.bak